page-poi {
    .button-group {
        .col {
            &:first-child:not(:last-child) {
            padding-right: 0;
            .button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            }
            &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
                border-radius: 0;
            }
            }
            &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            }
        }
    }

    

    .toolbar-background-md{
        background: url('../assets/images/menu_bg.png');
    }

    ion-title.title.title-md img {
        text-align: left;
        vertical-align: middle;
    }

    .irigasibold{
        font-weight: 500;
    }
}
page-poimap{
    #map {
	    width: 100%;
	    height: 100%;
	}
}
page-poilocatemap{
    #map {
	    width: 100%;
	    height: 100%;
	}
}

page-pinpoint{
    #map {
	    width: 100%;
	    height: 100%;
	}

    .button-group {
        .col {
            &:first-child:not(:last-child) {
            padding-right: 0;
            .button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            }
            &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
                border-radius: 0;
            }
            }
            &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            }
        }
    }
}

.md{
    page-poi{
        .button-md{
            box-shadow: none;
        }
    }
    page-poilocatemap{
        .button-md{
            box-shadow: none;
        }
    }
    page-pinpoint{
        .button-md{
            box-shadow: none;
        }
    }
}